
.registry_content{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    // background:linear-gradient(green 2%,red 4%,green 6%,red 8%, green 10%,red 12%,green 14%,red 16%,green 18%,red 20%,green 22%,red 24%,green 26%,red 28%,green 30%,red 32%,green 34%,red 36%,green 38%,red 40%,green 42%,red 44%,green 46%,red 48%,green 50%,red 52%,green 54%,red 56%,green 58%,red 60%,green 62%,red 64%,green 66%,red 68%,green 70%,red 72%,green 74%,red 76%,green 78%,red 80%,green 82%,red 84%,green 86%,red 88%,green 90%,red 92%,green 94%,red 96%,green 98%,red 100%);
    .ant-input{
        margin-bottom: 0;
        width: 300px;
    }
    .ant-input-password{
        margin-bottom: 0;
        width: 300px;
    }
    .ant-btn{
        width: 300px;
    }
}