html[theme="dark"]{
  ---background: #000;
}
html[theme="light"]{
  ---background: #fff;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: var(---background);
}
#root {
  width: 100%;
  height: 100%;
}
.ant-layout-sider-children{
  display: flex!important;
  flex-direction: column!important;
}
.menu_collapsed{
  height: 40px;
  line-height: 40px;
}
.ant-dropdown-trigger{
  cursor: pointer;
}
